Notificatie API callbackUrl validatie verwacht een HTTP 403 in plaats van een 401

# Bug

De Notificatie API doet bij het abonneren een check op de opgegeven callbackUrl. Er wordt gecontroleerd of de callback een authorizatie mechanisme heeft. Hiervoor wordt er een POST gedaan op de callbackUrl zonder authorization header. De validatie check verwacht hier een HTTP 403 Forbidden resultaat, terwijl het juiste resultaat een HTTP 401 Unauthorized zou moeten zijn. Hierdoor wordt de callback onterecht afgekeurd.

https://datatracker.ietf.org/doc/html/rfc2616#section-10.4.2

**Waar staan de componenten gehost? (ref.tst.vng.cloud of zelf binnen eigen organisatie)**
Binnen eigen organisatie en externe testomgeving

**Welke claims/payload bevat je JWT?**
notificaties.consumeren | notificaties.publiceren

De door jou aangegeven documentatie is uit 1999, inmiddels zijn er nieuwe versies van uitgebracht. Aangezien rfc2616 inmiddels is vervangen door rfc7231 en rfc7235 gebruik ik die mijn antwoord.  Deze zijn naar verwachting ook gebruikt bij het maken van de referentie implementaties.

In de beschrijving van 403 staat: https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.3 

```
The 403 (Forbidden) status code indicates that the server understood  the request but refuses 
to authorize it.  A server that wishes to make public why the request has been forbidden can 
describe that  reason in the response payload (if any).

If authentication credentials were provided in the request, the server considers them insufficient 
to grant access.  The client SHOULD NOT automatically repeat the request with the same credentials.  
The client MAY repeat the request with new or different credentials.  However, a request might be 
forbidden for reasons unrelated to the credentials.
```

Bovendien staat in de beschrijving van de 401 (https://datatracker.ietf.org/doc/html/rfc2616#section-10.4.2) :
`The 401 (Unauthorized) status code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.  The server generating a 401 response MUST send a WWW-Authenticate header field Section 4.1) containing at least one  challenge applicable to the target resource.`


Wanneer ik kijk naar bovenstaande beschrijvingen kunnen beide responses. In ieder geval zie ik niet waarom een 403 een bug zou zijn. 








Ik ben het eens met de topicstarter.  401 voor geen/invalide credentials en 403 voor valide credentials maar onvoldoende rechten is naar mijn ervaring the most common. Maar naast de twee gelinkte RFCs is er ook nog de RFC voor 'Hypertext Transfer Protocol (HTTP/1.1): Authentication': https://datatracker.ietf.org/doc/html/rfc7235#section-2.1

Hierin staat dan weer:
`Upon receipt of a request for a protected resource that omits credentials, contains invalid credentials (e.g., a bad password) or partial credentials (e.g., when the authentication scheme requires more than one round trip), an origin server SHOULD send a 401 (Unauthorized) response that contains a WWW-Authenticate header field with at least one (possibly new) challenge applicable to the requested resource.`

en:
`A server that receives valid credentials that are not adequate to gain access ought to respond with the 403 (Forbidden) status code (Section 6.5.3 of [RFC7231]).`